{% extends 'home.html' %}

{% load crispy_forms_tags %}
{% block content %}
<h1>Login</h1>
<form method="POST">
  {% csrf_token %}
  {{ form|crispy }}
  <button class="btn btn-primary" type="submit">Login</button>
</form>
<p class="text-center">Don't have an account? <a href="{% url 'signup' %}">Create an account</a>.</p>
{% endblock %}