{% extends 'home.html' %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container py-5">
    <h1>Signup</h1>
    <form method="POST">
    	{% csrf_token %}
    	{{ form|crispy }}                    
    	<button class="btn btn-primary" type="submit">Signup</button>
    </form>
    <p class="text-center">If you already have an account, <a href="{% url 'login' %}">login</a> instead.</p>
</div>
{% endblock %}